.about-wws-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  max-width: 2000px;
  margin-top: 20px;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.aboutwwsh3 {
  color: white;
}
.about-wws-card,
.testimonial-card {
  background: radial-gradient(
    circle,
    rgba(95, 184, 106, 1) 0%,
    rgba(19, 19, 19, 1) 100%
  );
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 48%;
  margin-bottom: 20px;
  color: #fff; /* Optional: Set text color to white for better contrast */
}
.about-wws-card h2,
.testimonial-card h3 {
  color: white;
}

.about-wws-card p,
.about-wws-card ul,
.testimonial-card blockquote {
  color: white;
}

.about-wws-card ul {
  list-style-type: disc;
  padding-left: 20px;
}

.aboutusbutton {
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
.testimonial-card blockquote {
  border-left: 4px solid #007bff;
  padding-left: 16px;
  margin: 20px 0;
  font-style: italic;
}

.testimonial-card blockquote footer {
  margin-top: 10px;
  font-weight: bold;
}

.testimonial-card a {
  color: #007bff;
  text-decoration: none;
}

.testimonial-card a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
  .about-wws-card,
  .testimonial-card {
    width: 100%; /* Full width on smaller screens */
  }

  .about-wws-container {
    padding: 50px 10px; /* Adjust padding for smaller screens */
    margin-top: 10px; /* Adjust margin for smaller screens */
  }
}
