.achievements-card {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    margin: 20px 0;
    background: linear-gradient(135deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 100%);
    -webkit-backdrop-filter: blur(10px); /* Added for Safari support */
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .achievements-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .achievement {
    text-align: center;
    color: #007BFF;
    transition: transform 0.3s ease;
  }
  
  .achievement:hover {
    transform: scale(1.1);
  }
  
  .icon {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .number {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FF5733; /* Different color for numbers */
  }
  
  .label {
    font-size: 1rem;
    color: #333;
  }
  