* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 20px 0;
  background: white;
  white-space: nowrap;
  position: relative;
  max-width: 100vw;
  margin: auto;
}

.logos h1 {
  text-align: center;
  color: radial-gradient(
    circle,
    rgba(95, 184, 106, 1) 0%,
    rgba(19, 19, 19, 1) 100%
  );
  margin-bottom: 20px;
}
.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 150s slide infinite linear;
  white-space: nowrap;
}

.logos-slide img {
  width: 100px; /* Set a fixed width */
  height: 100px; /* Set a fixed height */
  margin: 0 60px;
  object-fit: contain; /* Ensure the images fit within the set dimensions */
}

@media (max-width: 768px) {
  .logos-slide img {
    width: 80px;
    height: 80px;
    margin: 0 15px;
  }
}

@media (max-width: 480px) {
  .logos-slide img {
    width: 60px;
    height: 60px;
    margin: 0 10px;
  }
}
