.why-choose-us-card {
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  margin: 20px 0;
  border: 2px solid #007BFF;
  background: linear-gradient(135deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 100%);
  -webkit-backdrop-filter: blur(10px); /* Added for Safari support */
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-choose-us-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.why-choose-us-card h2 {
  color: #007BFF;
  font-size: 2rem;
  margin-bottom: 10px;
}

.why-choose-us-card p {
  color: #333;
  font-size: 1rem;
  margin-bottom: 20px;
}

.view-projects-button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-projects-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.skills {
  margin-top: 20px;
}

.skill {
  margin-bottom: 20px;
}

.skill h4 {
  color: #007BFF;
  margin-bottom: 10px;
}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  height: 20px;
  position: relative;
}

.progress {
  background-color: #007BFF;
  color: white;
  text-align: center;
  border-radius: 4px;
  height: 100%;
  transition: width 0.3s ease;
  line-height: 20px; /* Ensure text is vertically centered */
}

.progress:hover {
  background-color: #0056b3;
}

/* Media Queries */
@media (max-width: 768px) {
  .why-choose-us-card {
    padding: 10px;
    margin: 10px 0;
  }

  .why-choose-us-card h2 {
    font-size: 1.5rem;
  }

  .why-choose-us-card p {
    font-size: 0.9rem;
  }

  .view-projects-button {
    padding: 8px 16px;
    margin: 10px 0;
  }

  .skills {
    margin-top: 10px;
  }

  .skill h4 {
    font-size: 1rem;
  }

  .progress-bar {
    height: 15px;
  }

  .progress {
    line-height: 15px;
  }
}

@media (max-width: 480px) {
  .why-choose-us-card {
    padding: 5px;
    margin: 5px 0;
  }

  .why-choose-us-card h2 {
    font-size: 1.2rem;
  }

  .why-choose-us-card p {
    font-size: 0.8rem;
  }

  .view-projects-button {
    padding: 6px 12px;
    margin: 5px 0;
  }

  .skills {
    margin-top: 5px;
  }

  .skill h4 {
    font-size: 0.9rem;
  }

  .progress-bar {
    height: 10px;
  }

  .progress {
    line-height: 10px;
  }
}
