* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.itsolutions,
.casestudies,
.ourcompany,
.contact,
.newsandblog {
  display: flex;
  height: 60vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
}

.itsolutions {
  margin-top: 2500px;
  background-image: url("/public/images/wp1828918-programmer-wallpapers.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.casestudies {
  margin-top: 3000px;
  background-image: url("/public/images/wp4932325-coding-minimalist-wallpapers.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.ourcompany {
  margin-top: 3900px;
  background-image: url("/public/images/companybg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact {
  margin-top: 800px;
  background-image: url("/public/images/contactbg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.newsandblog {
  margin-top: 3200px;
  background-image: url("/public/images/black-wallpaper-5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
